<div class="picture-container">
  <img src="<%= author.picture_url %>" alt="picture of author">
</div>
<h3><%= author.name %></h3>
<p class="lifespan">(<%= author.birth_year && author.birth_year %> – <%= author.death_year && author.death_year %>)</p>
<div class="works-wrapper">
  <h4>Books</h4>
  <div class="works">
    <% author.works.forEach((work) => { %>
    <div class="work">
      <%= work.title %>
    </div>
    <%}) %>
    <% if(!locals.author.works || author.works.length < 1) { %>
    <p class="empty">Empty.</p>
    <% } %>
  </div>
</div>
<div class="actionBtns">
  <button class="updateBtn">
    <a href="authors/update/<%= author.id %>">Update</a>
  </button>
  <button class="deleteBtn" data-id="<%= author.id %>">Delete</button>
</div>

<dialog class="detailsModal author" id="id<%= author.id %>">
  <button class="close-btn">X</button>
  <div class="cover-wrapper">
    <div class="picture-container">
      <img class="picture" src="<%= author.picture_url%>" alt="author image" />
    </div>
    <h3 class="name"><%= author.name%></h3>
    <p class="lifespan">(<%= author.birth_year && author.birth_year %> – <%= author.death_year && author.death_year %>)</p>
  </div>
  <div class="biography-wrapper">
    <h5>Biography</h5>
    <p><%= author.bio %></p>
  </div>
  <div class="works-wrapper">
    <h5>Books</h5>
    <div class="works">
      <% author.works.forEach((work) => { %>
      <div class="work">
        <div class="cover-container">
          <img class="cover" src="<%= work.cover_url %>">
        </div>
        <p><%= work.title  %></p>
      </div>
      <% }) %>
      <% if(!locals.author.works || author.works.length < 1) { %>
      <p class="empty">No books found for this author.</p>
      <% } %>
    </div>
  </div>
</dialog>

<%-include('confirmModal', {id: author.id, action: '/authors/delete',type: 'author', value: author.name}) %>